!!! st Configuration
st.font: Iosevka:pixelsize=28:antialias=true:autohint=true;
st.alpha: .9
st.borderpx: 6

!!! HiDPI & Font Rendering
Xft.dpi: 192
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.foreground:     #c0caf5
*.background:     #1a1b26
*.cursorColor:    #c0caf4
*.highlightColor: #292e42

! Normal      Bright
! --------    -------
! 0 Black      8 Black
! 1 Red        9 Red
! 2 Yellow    10 Yellow
! 3 Green     11 Green
! 4 Blue      12 Blue
! 5 Magenta   13 Magenta
! 6 Cyan      14 Cyan
! 7 White     15 White

! Black colours
*.color0:        #4e5172
*.color8:        #4e5173
! Red colours
*.color1:        #F7768E
*.color9:        #F7768E
! Yellow colours
*.color2:        #E0AF68
*.color10:       #E0AF68
! Green colours
*.color3:        #9ECE6A
*.color11:       #9ECE6A
! Blue colours
*.color4:        #7AA2F7
*.color12:       #7AA2F7
! Magenta colours
*.color5:        #9A7ECC
*.color13:       #9A7ECC
! Teal
*.color6:        #1abc9c
*.color14:       #1abc9c
! White colours
*.color7:        #ACB0D0
*.color15:       #ACB0D0
