[colors]
background = #001a1b26
foreground = #a9b1d6
primary = #7aa2f7
muted = #3a3f4b
secondary = #f7768e

[bar/example]
width = 100%
height = 28pt

dpi = 192

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2pt

border-color = #00ffffff

padding-left = 2
padding-right = 2

module-margin = 1

separator = |
separator-foreground = ${colors.muted}

font-0 = "Iosevka:size=12;5.5"
font-1 = "Font Awesome 6 Pro:size=13;5"
font-2 = "Iosevka:style=italic:size=12;5.5"

modules-left = date filesystem temperature memory cpu
modules-center = ewmh mpd
modules-right = pulseaudio backlight battery temperature powermenu

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#7aa2f7}%{F-} %percentage_used%%
label-mounted-font = 2
format-prefix-foreground = ${colors.primary}

label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.secondary}

[module/pulseaudio]
type = internal/pulseaudio

format-volume-prefix-foreground = ${colors.primary}
format-volume = <label-volume>

label-volume = %percentage%% %{F#7aa2f7}%{F-}

label-muted = 
label-volume-font = 2
label-muted-foreground = ${colors.secondary}

[module/ewmh]
type = internal/xworkspaces
pin-workspaces = true
icon-0 = term;
icon-1 = web;
icon-2 = code;
icon-3 = music;
icon-4 = media;
icon-default = ♟

format = <label-state>

label-monitor = %name%

label-active = %icon%
label-active-foreground = #a9b1d6
label-active-background = #1a1b26
label-active-underline = #7aa2f7
label-active-padding = 1

label-occupied = %icon%
label-occupied-foreground = #a6adc8
label-occupied-underline = #45475a
label-occupied-padding = 1

label-urgent = %icon%
label-urgent-foreground = #a9b1d6
label-urgent-background = #1a1b26
label-urgent-underline = #f7768e
label-urgent-padding = 1

label-empty = %icon%
label-empty-foreground = #55
label-empty-padding = 1

[module/memory]
type = internal/memory
interval = 2
label-font = 2
format-prefix-foreground = ${colors.primary}
label = %{F#7aa2f7}%{F-} %percentage_used:2%%

[module/mpd]
type = internal/mpd
font = 2
port = 6600

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.primary}
label = %percentage:2%%
format-prefix-font = 2

[module/backlight]
type = internal/backlight
card = intel_backlight
use-actual-brightness = true
enable-scroll = true
format = <label>
label = %percentage%% %{F#7aa2f7}%{F-}

[module/powermenu]
type = custom/script
exec = echo ""
interval = 1
format-foreground = #f7768e
click-left = sudo shutdown now
click-right = sudo reboot
label-font = 2
label = %output%

[module/temperature]
type = internal/temperature
thermal-zone = 0
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon6/temp1_input
base-temperature = 20
warn-temperature = 60
format = <ramp> <label>
format-warn = <ramp> <label-warn>

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-0-font = 2
ramp-1-font = 2
ramp-2-font = 2
ramp-foreground = #7aa2f7

[module/battery]
type = internal/battery
full-at = 99
low-at = 10
battery = BAT2
adapter = ADP1
label-full = %percentage%% %{F#7aa2f7}%{F-}
label-charging= %percentage%% %{F#7aa2f7}%{F-}
label-low = %percentage%% %{F#7aa2f7}%{F-}
label-discharging = %percentage%% %{F#7aa2f7}%{F-}

[module/date]
type = internal/date
label-font = 3
interval = 1

time = %H:%M
time-alt = %A, %d %B %Y

label = %time%
label-foreground = ${colors.primary}

[settings]
screenchange-reload = true
pseudo-transparency = false

; vim:ft=dosini
